/*
 Theme Name:   Twenty Twenty-One Child
 Theme URI:    https://dyerduman.design/
 Description:  A child theme of Twenty Twenty-One WordPress theme.
 Author:       Dyer and Duman Design
 Author URI:   https://dyerduman.design
 Template:     twentytwentyone
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/
/****************************************
 * OVERWRITES *
****************************************/
:root
{
	--global--font-size-xl: 2.5em;
	--global--font-size-xxl: 4em;
	--global--font-size-xxxl: 9em;
	--heading--font-size-h2: 3em;
	--heading--font-size-h3: 2em;
}
a.skip-link.screen-reader-text,
body a.skip-link.screen-reader-text
{
	margin: -75px 1em 0;
	background:#222 !important;
	color:#fff !important;
	box-shadow:none;
}
/*still show dark mode toggler in super-header*/
.primary-navigation-open .super-header #dark-mode-toggler{
	display:block;
}
/****************************************
 * GLOBAL SUPER-HEADER *
****************************************/
.super-header
{
	align-items: center;
	background: #f2f2f2;
	display: flex;
	justify-content: flex-end;
	left: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	z-index: 9999;
}
.is-dark-theme .super-header
{
	filter:invert(100%)  /* Completely inverted */
}
.super-header p
{
	font-size: 18px;
	color:#000;
}
.header-inner.super-header
{
	max-width: unset;
}
/*font-sizer styles*/
.font-sizer
{
	align-items: center;
	color: #000;
  display: flex;
	position: relative;
}
.font-sizer sup
{
	font-size: 65%;
	top: -5px;
}
.font-sizer button:nth-child(3) sup
{
	font-size: 100%;
	top: -1px;
}
.font-sizer button
{
	background: unset;
	border: 2px solid transparent;
	font-size: 2.25em;
	padding: 0;
	width: 1.5em;
}
.font-sizer button:focus,
.font-sizer button:hover,
a.wp-block-button__link:focus,
a.wp-block-button__link:hover
{
	background: #000 !important;
	border: 2px solid #fff;
	color: #fff !important;
	outline: none;
	text-decoration: none;
}
.font-sizer button:last-child{
	margin:0 20px 0 0;
}
.is-dark-theme .font-sizer span{
	color:#000;
}
/*EN and FR language menu (default not activated)*/
.language
{
	display: inline-flex;
	margin: 0 0 0 1em;
	width: auto;
}
.language ul
{
	align-items: center;
	display: flex;
	list-style-type: none;
	margin: 0 1em 0 auto;
}
.language li
{
	margin-right: 1em;
}

/*styling Google Translator select dropdown*/
.goog-te-banner-frame
{
	display: none;
}
.super-header #google_language_translator select.goog-te-combo option,
.skiptranslate.goog-te-gadget
{
	font-size: 16px !important;
}
.skiptranslate.goog-te-gadget div:after
{
		border-right: 2px solid;
    border-bottom: 2px solid;
    color: #000;
    content: "";
    display: inline-block;
    height: 10px;
    position: relative;
    right: 25px;
    top: -3px;
    transform: rotate(45deg);
    width: 10px;
    z-index: 9999;
}
.original-text
{
	text-align: left !important;
}
.super-header #google_language_translator select.goog-te-combo
{
	background: transparent;
	border: 0px solid !important;
	border-bottom: 1px solid !important;
	color: #000;
	font-size: 18px !important;
	margin-top: -10px;
	padding: 5px 10px !important;
	width: 210px;
}
.super-header li a.nturl.single-language:focus,
#google_language_translator select.goog-te-combo:focus
{
	background: #fff;
	border: 2px solid #000 !important;
}
div#google_language_translator
{
	height: 45px;
	margin-right: 10px;
	padding: 10px 0 10px 10px;
	width: 200px;
}
/****************************************
 * GLOBAL HEADER *
****************************************/
.site-header
{
	margin-top: 95px;
	max-width: unset;
	padding: unset;
	width: 100%;
}
/* Dark Mode styling*/
body #dark-mode-toggler.fixed-bottom
{
		background: none;
		border: 0;
		bottom:unset;
		margin:0 10px;
    position: initial;
    right: 1em;
    top: 5px;
    transition: bottom 0.5s;
		z-index:9999;
}
#dark-mode-toggler.fixed-bottom span
{
	align-items:center;
	display:flex;
}
body #dark-mode-toggler:hover,
body #dark-mode-toggler:focus{
	background:#222;
	outline:none;
}
#dark-mode-toggler svg
{
	height:2em;
	width:2.5em;
}
#dark-mode-toggler:hover svg path,
#dark-mode-toggler:focus svg path
{
    fill: #fff;
}
#dark-mode-toggler p
{
	color:#000;
}
#dark-mode-toggler:hover p,
#dark-mode-toggler:focus p
{
	color:#fff;
}
body #dark-mode-toggler[aria-pressed="true"] > span::before,
body #dark-mode-toggler > span::before
{
	font-size:0;
	visibility: hidden;
	width:0;
}
/* Quick links */
.quicklinks
{
	background: var(--global--color-background);
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
}
.quicklinks ul
{
	display: flex;
  justify-content: space-between;
  list-style-type: none;
	padding:unset;
}
.quicklinks li
{
    width: 100%;
    text-align: center;
}
.primary-navigation .quicklinks a
{
	background: #333;
	color:#fff;
	display: block;
	margin:2px;
	padding: 1em;
}
.is-dark-theme .quicklinks a
{
	filter:invert(100%);
}
.quicklinks li:first-child a
{
    margin-left:0;
}
.quicklinks li:last-child a
{
    margin-right:0;
}
/*Identity -- branding and nav */
.identity {
	display: flex;
  justify-content: space-between;
	padding:1em 0;
  margin: 65px auto 0;
  /*max-width: var(--responsive--alignwide-width);*/
  width: 100%;
}
/****************************************
 * GLOBAL NAVIGATION *
****************************************/
.primary-navigation
{
	position:inherit;
}
.primary-navigation .quicklinks a:before
{
    content: "\2606"; /*temporary icon for wireframes*/
    margin-right: 10px;
    margin-left: -10px;
}
/****************************************
 * GLOBAL PAGES *
****************************************/
/*entry header*/
.entry-header .post-thumbnail .wp-post-image
{
	max-width:unset;
}

body .entry-header.alignwide,
body .entry-header .post-thumbnail, body .singular .post-thumbnail
{
    max-width: unset;
    width: 100%;
}
.entry-header .post-thumbnail .wp-post-image
{
		height:auto !important;
    max-width: unset !important;
		position:absolute;
		top:0;
		z-index:-1;
}
.entry-content h2:first-child
{
	background: var(--global--color-background);
	display: inline-block;
	margin-left: 10%;
	padding: 0 20px;
}
/****************************************
 * QUERIES *
****************************************/
/*min-widths*/
@media only screen and (min-width: 482px)
{
	/*desktop header styles*/
	.quicklinks
	{
		top:0;
	}
	/*desktop navigation styles*/

	.primary-navigation > div > .menu-wrapper
	{
		justify-content: flex-end;
		margin-right:20px;
	}
	.primary-navigation > div > .menu-wrapper li{
		align-items:center;
		background: var(--global--color-background);
		display:flex;
		flex:0 0 40%;
		margin:5px;
	}
	.primary-navigation > div > .menu-wrapper li ul li
	{
		margin:unset;
	}
	.primary-navigation > div > .menu-wrapper li a{
		width:100%;
	}
	.primary-navigation > div > .menu-wrapper > li > .sub-menu
	{
		background:#000;
		width:100%;
	}
	.primary-navigation > div > .menu-wrapper > li > .sub-menu li
	{
			background:unset;
	}
	.primary-navigation > div > .menu-wrapper > li > .sub-menu li:first-child{
		margin-top:-3px;
	}
	body .primary-navigation > div > .menu-wrapper > li > .sub-menu li a
	{
		color:#fff;
		width:95%;
		margin:10px auto;
		text-decoration:none;
	}
	.is-light-theme .primary-navigation > div > .menu-wrapper > li > .sub-menu li a:focus,
	.is-dark-theme .primary-navigation > div > .menu-wrapper > li > .sub-menu li a:focus,
	body .primary-navigation > div > .menu-wrapper > li > .sub-menu li a:hover
	{
		background:#fff !important;
		color:#000 !important;
		text-decoration:none;
	}
	.primary-navigation > div > .menu-wrapper > li > .sub-menu:before, .primary-navigation > div > .menu-wrapper > li > .sub-menu:after
	{
		background:##000;
		filter:invert(100%);
	}
	.primary-navigation .primary-menu-container > ul > .menu-item > a + .sub-menu-toggle:focus {
    background: #000;
		color:#fff;
    outline: none;
	}
}
/*max-widthds*/
@media (max-width:767px){
	.super-header
	{
		justify-content: space-around;
	}
}
@media (max-width:659px){
	.super-header p
	{
		display:none;
	}
	.font-sizer button:last-child,
	body #dark-mode-toggler.fixed-bottom,
	.language
	{
		margin:0;
	}
	.font-sizer button
	{
		padding: 0 10px;
		width: auto;
	}
	#dark-mode-toggler svg
	{
		width:auto;
	}
}
@media (max-width:481px){
	/*header styles*/
	.super-header
	{
		justify-content: center;
	}
	.primary-navigation
	{
		top:75px;
	}

	/*navigation styles*/
	.primary-navigation-open .menu-button-container,
	.primary-navigation-open .primary-navigation > .primary-menu-container
	{
		top:20px;
		padding-top: calc(var(--button--line-height) * var(--primary-nav--font-size-button) + 175px + 5px);
	}
	.primary-navigation > div > .menu-wrapper
	{
		display:flex;
		flex-wrap:wrap;
		justify-content: flex-end;
	}
	.primary-navigation > div > .menu-wrapper li {
		background: var(--global--color-background);
	   flex: 0 0 45%;
	   margin: 5px;
	}
	.quicklinks
	{
		display:none;
	}
	.primary-navigation-open .quicklinks
	{
		display:block;
		margin:0 auto;
		max-width:96%;
		top:25px;
		z-index: 99999;
		background:var(--global--color-background);
	}
	.quicklinks ul
	{
		flex-wrap:wrap;
	}
	.quicklinks a{
		border:none;
		margin-bottom:10px;
	}
}
@media (max-width:390px){
	.super-header
	{
    flex-wrap: nowrap;
		justify-content: flex-start;
		padding-left:0;
		padding-right:0;
	}
	.font-sizer, #dark-mode-toggler {
    flex: 0 0 10%;
	}
	.language
	{
		flex:0 0 55%;
	}
	div#google_language_translator,
	.super-header #google_language_translator select.goog-te-combo
	{
		width:100%;
	}
	.super-header #google_language_translator select.goog-te-combo{
		padding-right:40px !important;
	}
	.skiptranslate.goog-te-gadget div:after
	{
		right:25px;
	}
}
