/*
 Theme Name:   Twenty Twenty-One Child
 Theme URI:    https://dyerduman.design/
 Description:  A child theme of Twenty Twenty-One WordPress theme.
 Author:       Dyer and Duman Design
 Author URI:   https://dyerduman.design
 Template:     twentytwentyone
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/
/****************************************
 * OVERWRITES *
****************************************/
:root
{
	--global--font-size-xl: 2.5em;
	--global--font-size-xxl: 4em;
	--global--font-size-xxxl: 9em;
	--heading--font-size-h2: 3em;
	--heading--font-size-h3: 2em;
}
a.skip-link.screen-reader-text,
body a.skip-link.screen-reader-text
{
	margin: -1.5em 1em 0;
	background:#222 !important;
	color:#fff !important;
	box-shadow:none;
}
/****************************************
 * GLOBAL SUPER-HEADER *
****************************************/
.super-header
{
	align-items: center;
	background: #f2f2f2;
	display: flex;
	justify-content: flex-end;
	left: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	z-index: 9999;
}
.super-header p
{
	font-size: 18px;
	color:#000;
}
.header-inner.super-header
{
	max-width: unset;
}
/*font-sizer styles*/
.font-sizer
{
	align-items: center;
	color: #000;
  display: flex;
	position: relative;
}
.font-sizer sup
{
	font-size: 65%;
	top: -5px;
}
.font-sizer button:nth-child(3) sup
{
	font-size: 100%;
	top: -1px;
}
.font-sizer button
{
	background: unset;
	border: 2px solid transparent;
	font-size: 2.25em;
	padding: 0;
	width: 1.5em;
}
.font-sizer button:focus,
.font-sizer button:hover,
a.wp-block-button__link:focus,
a.wp-block-button__link:hover
{
	background: #000 !important;
	border: 2px solid #fff;
	color: #fff !important;
	outline: none;
	text-decoration: none;
}
#largerFont{
	margin:0 20px 0 0;
}
.is-dark-theme .font-sizer span{
	color:#000;
}
/*EN and FR language menu (default not activated)*/
.language
{
	display: inline-flex;
	margin: 0 0 0 1em;
	width: auto;
}
.language ul
{
	align-items: center;
	display: flex;
	list-style-type: none;
	margin: 0 1em 0 auto;
}
.language li
{
	margin-right: 1em;
}

/*styling Google Translator select dropdown*/
.goog-te-banner-frame
{
	display: none;
}
.super-header #google_language_translator select.goog-te-combo option,
.skiptranslate.goog-te-gadget
{
	font-size: 16px !important;
}
.skiptranslate.goog-te-gadget div:after
{
		border-right: 2px solid;
    border-bottom: 2px solid;
    color: #000;
    content: "";
    display: inline-block;
    height: 10px;
    position: relative;
    right: 25px;
    top: -3px;
    transform: rotate(45deg);
    width: 10px;
    z-index: 9999;
}
.original-text
{
	text-align: left !important;
}
.super-header #google_language_translator select.goog-te-combo
{
	background: transparent;
	border: 0px solid !important;
	border-bottom: 1px solid !important;
	color: #000;
	font-size: 18px !important;
	margin-top: -10px;
	padding: 5px 10px !important;
	width: 210px;
}
.super-header li a.nturl.single-language:focus,
#google_language_translator select.goog-te-combo:focus
{
	background: #fff;
	border: 2px solid #000 !important;
}
div#google_language_translator
{
	height: 45px;
	margin-right: 10px;
	padding: 10px 0 10px 10px;
	width: 200px;
}
/****************************************
 * GLOBAL HEADER *
****************************************/
.site-header
{
	margin-top: 2em;
	max-width:unset;
	width:100%;
}
/* Dark Mode styling*/
body #dark-mode-toggler.fixed-bottom
{
		background: none;
		border: 0;
		bottom:unset;
		margin:0 10px;
    position: initial;
    right: 1em;
    top: 5px;
    transition: bottom 0.5s;
		z-index:9999;
}
#dark-mode-toggler.fixed-bottom span
{
	align-items:center;
	display:flex;
}
body #dark-mode-toggler:hover,
body #dark-mode-toggler:focus{
	background:#222;
	outline:none;
}
#dark-mode-toggler svg
{
	height:2em;
	width:2.5em;
}
#dark-mode-toggler:hover svg path,
#dark-mode-toggler:focus svg path
{
    fill: #fff;
}
#dark-mode-toggler p
{
	color:#000;
}
#dark-mode-toggler:hover p,
#dark-mode-toggler:focus p
{
	color:#fff;
}
body #dark-mode-toggler[aria-pressed="true"] > span::before,
body #dark-mode-toggler > span::before
{
	font-size:0;
	visibility: hidden;
	width:0;
}
/* Quick links */
.quicklinks
{
	width: 100%;
}
.quicklinks ul
{
	display: flex;
  justify-content: space-between;
  list-style-type: none;
	padding:unset;
}
.quicklinks li {
    width: 100%;
    text-align: center;
}
/*Identity -- branding and nav */
.identity{
	max-width:var(--responsive--alignwide-width);
	width:100%;
}
/****************************************
 * QUERIES *
****************************************/
/*header styles*/
@media (max-width:481px){
	.primary-navigation
	{
		top:75px;
	}
	.primary-navigation-open .menu-button-container
	{
		top:40px;
	}
}
