/*
 Theme Name:   Twenty Twenty-One Child
 Theme URI:    https://dyerduman.design/
 Description:  A child theme of Twenty Twenty-One WordPress theme.
 Author:       Dyer and Duman Design
 Author URI:   https://dyerduman.design
 Template:     twentytwentyone
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/
/****************************************
 * OVERWRITES *
****************************************/
:root
{
	--global--font-size-xl: 2.5em;
	--global--font-size-xxl: 4em;
	--global--font-size-xxxl: 9em;
	--heading--font-size-h2: 3em;
	--heading--font-size-h3: 2em;
}
a.skip-link.screen-reader-text
{
	margin-top: -2em;
}
/****************************************
 * GLOBAL SUPER-HEADER *
****************************************/
.super-header
{
	align-items: center;
	background: #f2f2f2;
	display: flex;
	font-size: 18px;
	justify-content: flex-end;
	left: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	z-index: 9999;
}
.header-inner.super-header
{
	max-width: unset;
}
.font-sizer
{
	position: relative;
	top: -4px;
}
.font-sizer sup
{
	font-size: 65%;
	top: -5px;
}
.font-sizer button:nth-child(3) sup
{
	font-size: 100%;
	top: -1px;
}
.font-sizer button
{
	background: unset;
	border: 2px solid transparent;
	font-size: 2.25em;
	padding: 0;
	position: relative;
	top: .15em;
	width: 1.5em;
}
.font-sizer button:focus,
.font-sizer button:hover,
a.wp-block-button__link:focus,
a.wp-block-button__link:hover
{
	background: #000 !important;
	border: 2px solid #fff;
	color: #fff !important;
	outline: none;
	text-decoration: none;
}
.language
{
	display: inline-flex;
	margin: 0 0 0 1em;
	width: auto;
}
.language ul
{
	align-items: center;
	display: flex;
	list-style-type: none;
	margin: 0 1em 0 auto;
}
.language li
{
	margin-right: 1em;
}

/*styling Google Translator select dropdown*/
.goog-te-banner-frame
{
	display: none;
}
.super-header #google_language_translator select.goog-te-combo option,
.skiptranslate.goog-te-gadget
{
	font-size: 16px !important;
}
.original-text
{
	text-align: left !important;
}
.super-header #google_language_translator select.goog-te-combo
{
	background: transparent;
	border: 2px solid transparent !important;
	color: #000;
	font-size: 16px !important;
	margin-top: -5px;
	padding-left: 1em !important;
	width: 200px;
}
div#google_language_translator
{
	height: 45px;
	padding: 10px 0 10px 10px;
	width: 200px;
}
.super-header li a.nturl.single-language:focus,
#google_language_translator select.goog-te-combo:focus
{
	background: #000;
	border: 2px solid white !important;
	color: #fff;
}
/****************************************
 * GLOBAL HEADER *
****************************************/
.site-header
{
	margin-top: 2em;
}
